# Godot 4+ specific ignores
.godot/
/android/

# Kay Kits
res/kaykit-adventurers/**/*.png
res/kaykit-adventurers/**/*.gltf
res/kaykit-adventurers/**/*.glb
res/kaykit-adventurers/**/*.bin

res/kaykit-skeletons/**/*.png
res/kaykit-skeletons/**/*.gltf
res/kaykit-skeletons/**/*.glb
res/kaykit-skeletons/**/*.bin

res/kaykit-dungeon-remastered/**/*.png
res/kaykit-dungeon-remastered/**/*.gltf
res/kaykit-dungeon-remastered/**/*.glb
res/kaykit-dungeon-remastered/**/*.bin